<a href="https://colab.research.google.com/github/chrispi21/python-dataeng/blob/main/02_funkcje_zaawansowane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lambda
# dekoratory
# currying jako ciekawostka

# Funkcje - przypomnienie

In [ ]:
def dodaj_jeden(x):
  return x + 1

In [ ]:
dodaj_jeden(10)

11

Możemy również tworzyć funkcje z wartością domyślną:

In [ ]:
def dodaj_n(x, n=5):
  return x + n

In [ ]:
dodaj_n(2)

7

Możemy również korzystać z argumentów nazwanych:

In [ ]:
dodaj_n(x=1, n=100)

101

Umożliwia nam to zamianę kolejności przekazywania argumentów:

In [ ]:
dodaj_n(n=100, x=1)

101

# Rozpakowanie list, krotek i słowników jako argumentów funkcji

Python umożliwia również rozpakowanie listy, krotki albo słownika argumentów podczas wywoływania funkcji:

In [ ]:
# Używamy * do rozpakowania elementów
lista_argumentow = [1, 100]
dodaj_n(*lista_argumentow)

101

In [ ]:
krotka_argumentow = (1, 100)
dodaj_n(*krotka_argumentow)

101

In [ ]:
# Korzystamy z ** do rozpakowania par klucz-wartość w przypadku słowników
slownik_argumentow = {"x": 1, "n": 100}
dodaj_n(**slownik_argumentow)

101

# Funkcje przyjmujące dowolną liczbę elementów

W przypadku, gdy nazwa argumentu jest poprzedzona `*`, możemy przekazać dowolną krotkę zawierającą nienazwane argumenty. Możemy przykładowo utworzyć funkcję, która sumuje dowolne elementy:

In [ ]:
def dodaj_elementy(*args):
  suma = 0
  for arg in args:
    suma += arg
  return suma

In [ ]:
dodaj_elementy(1, 2, 4)

7

Nazwa argumentu `*args` jest konwencją nazewniczą - dobrze jest jej przestrzegać.

W podobny sposób możemy przekazywać nazwane argumenty jako słownik. Skorzystamy z `**` przed nazwą argumentu. Dla przykładu utworzymy funkcję, która zwróci minimum:

In [ ]:
def minimum(**kwargs):
  if len(kwargs) == 0:
    return None
  minimum = float("inf")
  for value in kwargs.values():
    if value < minimum:
      minimum = value
  return minimum

In [ ]:
minimum(a=1, b=10, c=-5)

-5

Konwencja nazewnicza zaleca stosowanie `**kwargs` w tym przypadku.

Możemy tworzyć funkcje, które będą wykorzystywały `*args`, `**kwargs` oraz inne argumenty. Przykładowo:

In [ ]:
def minimum(x=0, *args, **kwargs):
  minimum = x
  all_args = args + tuple(kwargs.values())
  for value in all_args:
    if value < minimum:
      minimum = value
  return minimum

In [ ]:
minimum(1, 22, 2, a=3, b=15)

1

In [ ]:
# To nie zadziała!
minimum(a=3, 1, 22, 2, b=15)

SyntaxError: positional argument follows keyword argument (<ipython-input-44-8b029782ece6>, line 1)

## Ciekawostka - łączenie słowników

Sprawdźmy sygnaturę funkcji `dict`, która tworzy słownik:

In [ ]:
dict?

Za pomocą poznanej przed chwilą techniki możemy połączyć dwa słowniki:

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"abc": -1}
d3 = {"b": 13, "abc": -1}

In [ ]:
dict(**d1, **d2)

{'a': 1, 'b': 2, 'abc': -1}

In [ ]:
# Nie zadziała
dict(**d1, **d3)

TypeError: dict() got multiple values for keyword argument 'b'

In [ ]:
# Na szczęście to zadziała
{**d1, **d3}

{'a': 1, 'b': 13, 'abc': -1}

In [ ]:
# Kolejność ma znaczenie
{**d3, **d1}

{'b': 2, 'abc': -1, 'a': 1}

Ćwiczenie


Utwórz funkcję `filtruj`, która będzie filtrowała rekordy w tabeli z pracownikami na podstawie przekazanych warunków.

In [ ]:
pracownicy = [
    {"imie": "Jan", "nazwisko": "Kowalski", "stanowisko": "Inżynier Danych"},
    {"imie": "Jan", "nazwisko": "Nowak", "stanowisko": "Analityk Danych"},
    {"imie": "Janina", "nazwisko": "Nowak", "stanowisko": "Inżynier Danych"},
]

Przykładowo:

`filtruj(pracownicy, imie="Jan", nazwisko="Nowak")`

zwróci:

`[{"imie": "Jan", "nazwisko": "Nowak", "stanowisko": "Analityk Danych"}]`

In [ ]:
# @title Rozwiązanie

In [ ]:
# @title Podpowiedź

def filtruj(pracownicy, **kwargs):
  wynik = []
  for pracownik in pracownicy:
    for nazwa_kolumny, wartosc in kwargs.items():
      if pracownik[nazwa_kolumny] != wartosc:
        break
    else:
      wynik.append(pracownik)
  return wynik

In [ ]:
filtruj(pracownicy, imie="Jan", nazwisko="Nowak")

[{'imie': 'Jan', 'nazwisko': 'Nowak', 'stanowisko': 'Analityk Danych'}]

# Funkcje zwracające wiele wartości

Utworzymy funkcję, która zwraca minimum i maksimum dla danych argumentów wejściowych:

In [ ]:
def min_max(*args):
  return min(args), max(args)

In [ ]:
min_, max_ = min_max(1, 2, 3, 4, 5)

In [ ]:
min_, max_

(1, 5)

Ćwiczenie

Utwórz funkcję, która dla dowolnych nazwanych argumentów zwróci nazwę argumentu i wartość, dla argumentu którego wartość jest najniższa

In [ ]:
# @title Rozwiązanie

In [ ]:
# @title Podpowiedź
def minimum(**kwargs):
  if len(kwargs) == 0:
    return None
  minimum = float("inf")
  for nazwa, wartosc in kwargs.items():
    if wartosc < minimum:
      minimum = wartosc
      nazwa_min = nazwa
  return nazwa_min, minimum

In [ ]:
minimum(a=1, b=25, c=-1)

('c', -1)

# Wymuszanie użycia nienazwanych i nazwanych argumentów funkcji

Przeanalizujmy następującą definicję funkcji:

In [ ]:
def funkcja(imie, nazwisko, /, stanowisko, *, firma):
  print(imie, nazwisko, stanowisko, firma)

W jaki sposób wywołać tę funkcję? Spróbujmy kilku sposobów:

In [ ]:
# nienazwane argumenty
funkcja("Janina", "Nowak", "Inżynier Danych", "Big Data Sp. z o.o.")

TypeError: funkcja() takes 3 positional arguments but 4 were given

In [ ]:
# nazwane argumenty
funkcja(imie="Janina", nazwisko="Nowak", stanowisko="Inżynier Danych", firma="Big Data Sp. z o.o.")

TypeError: funkcja() got some positional-only arguments passed as keyword arguments: 'imie, nazwisko'

In [ ]:
# argumenty przed / muszą być nienazwane
# argumenty po * muszą być nazwane
# argumenty pomiędzy mogą być przekazywane w dowolny sposób
funkcja("Janina", "Nowak", stanowisko="Inżynier Danych", firma="Big Data Sp. z o.o.")

Janina Nowak Inżynier Danych Big Data Sp. z o.o.

In [ ]:
# również działa:
funkcja("Janina", "Nowak", "Inżynier Danych", firma="Big Data Sp. z o.o.")

Janina Nowak Inżynier Danych Big Data Sp. z o.o.

Uwaga:

`/` oraz `*` mogą nie muszą być użyte razem. Tzn. poniższe definicje są również poprawne (ale działają inaczej):

In [ ]:
# imie, nazwisko muszą być przekazane jako argumenty nienazwane
def funkcja(imie, nazwisko, /, stanowisko, firma):
  print(imie, nazwisko, stanowisko, firma)

In [ ]:
# stanowisko, firma muszą być przekazane jako argumenty nazwane
def funkcja(imie, nazwisko, *, stanowisko, firma):
  print(imie, nazwisko, stanowisko, firma)

# Przestrzeń nazw i zagnieżdżanie funkcji

## Lokalna przestrzeń nazw

Aby wyjaśnić to pojęcie posłużymy się przykładem:

In [ ]:
zmienna_wejsciowa = 1
zmienna_poza_zakresem_funkcji = 2
def funkcja(parametr):
  zmienna_lokalna = parametr
  print("zmienna_poza_zakresem_funkcji", zmienna_poza_zakresem_funkcji)
  print("zmienna_lokalna", zmienna_lokalna)
  # ! To nie zadziała po odkomentowaniu
  # zmienna_poza_zakresem_funkcji += 1

In [ ]:
# wywołanie funkcji
funkcja(zmienna_wejsciowa)

zmienna_poza_zakresem_funkcji 2
zmienna_lokalna 1

In [ ]:
# próba odwołania się do zakresu lokalnego funkcji
zmienna_lokalna

NameError: name 'zmienna_lokalna' is not defined

In [ ]:
zmienna_poza_zakresem_funkcji

2

## Globalna przestrzeń nazw

Możemy zadeklarować zmienną globalną, która jest tworzona w globalnej przestrzeni nazw. Sprawdźmy jej działanie na przykładzie:

In [ ]:
def funkcja():
  global x
  x = 10
  print(x)

In [ ]:
funkcja()

10

In [ ]:
x

10

Korzystanie ze zmiennych globalnych jest niezalecane!

## Funkcje zagnieżdżone

Możemy deklarować funkcje zagnieżdżone w funkcjach.

Posłużymy się przykładem - zadeklarujemy funkcję, która wylicza premię w oparciu o ocenę roczną pracownika, aktualne wynagrodzenie oraz o kategorię zaszeregowania:

In [ ]:
def oblicz_premie(ocena_roczna, wynagroczenie_roczne, kategoria):
  wspolczynnik_premii = 1 / 20
  def podstawa_premii():
    return wynagroczenie_roczne * kategoria * wspolczynnik_premii

  def wspolczynnik_za_ocene():
    return 2 if ocena_roczna == 5 else 1

  return podstawa_premii() * wspolczynnik_za_ocene()

In [ ]:
oblicz_premie(4, 12 * 10000, 2)

12000.0

Zakres lokalny zmiennych obowiązuje osobno na każdym poziomie zagnieżdżenia funkcji.

Możemy skorzystać ze słowa kluczowego `nonlocal`, aby nadpisać zmienną z zewnętrznego zakresu nazw (nie będziemy się tym zajmować).

# Obiekty mutowalne jako argumenty funkcji

Tym razem również posłużymy się przykładem:

In [ ]:
nazwisko = "Nowak"

def zmien_nazwisko(nazwisko):
  nazwisko = "Kowalski"
  return nazwisko

In [ ]:
zmien_nazwisko(nazwisko)

'Kowalski'

In [ ]:
nazwisko

'Nowak'

Tym razem zamienimy `string` na słownik:

In [ ]:
dane_pracownika = {"imie": "Jan", "nazwisko": "Nowak"}

def zmien_nazwisko_2(dane):
  # aktualizujemy słownik
  dane["nazwisko"] = "Kowalski"
  return dane

In [ ]:
dane_pracownika

{'imie': 'Jan', 'nazwisko': 'Nowak'}

In [ ]:
zmien_nazwisko_2(dane_pracownika)

{'imie': 'Jan', 'nazwisko': 'Kowalski'}

In [ ]:
dane_pracownika

{'imie': 'Jan', 'nazwisko': 'Kowalski'}

Co się stanie, gdy zamiast aktualizować słownik utworzymy nowy?

In [ ]:
dane_pracownika = {"imie": "Jan", "nazwisko": "Nowak"}

def zmien_nazwisko_2(dane):
  # tworzymy nowy słownik
  dane = {"imie": "Jan", "nazwisko": "Kowalski"}
  return dane

In [ ]:
zmien_nazwisko_2(dane_pracownika)

{'imie': 'Jan', 'nazwisko': 'Kowalski'}

In [ ]:
dane_pracownika

{'imie': 'Jan', 'nazwisko': 'Nowak'}

W Pythonie działa mechanizm przekazywania argumentów opisywany jest jako przekazywanie przez referencję obiektów (ang. *Pass By Object Reference*). Oznacza to, że referencja do obiektu jest przekazywana przez wartość. Dla typów niemutowalnych (np. `int`) modyfikacja jest tak naprawdę utworzeniem nowego obiektu. Dla obiektów mutowalnych nie jest tworzony nowy obiekt. Możemy jednak utworzyć nowy obiekt (wykorzystanie tej samej nazwy nie ma znaczenia). Wtedy działamy na odrębnych obiektach niezależnie.

Dodatkowe wyjaśnienie:

https://python.plainenglish.io/pass-by-object-reference-in-python-79a8d92dc493

Ćwiczenie

Napisz funkcję, która będzie miała dwa argumenty wejściowe:
1. Lista pracowników
2. Nowy pracownik

Bez używania instrukcji `return` utwórz funkcję, która doda nowego pracownika.

In [2]:
pracownicy = [
    ("Jan", "Kowalski", "Inżynier Danych"),
    ("Janina", "Nowak", "Analityk Danych"),
]
nowy_pracownik = ("Katarzyna", "Nowak", "Inżynier Danych")

In [ ]:
# @title Rozwiązanie

In [1]:
# @title Podpowiedź

def dodaj_pracownika(pracownicy, nowy_pracownik):
  pracownicy.append(nowy_pracownik)

dodaj_pracownika(pracownicy, nowy_pracownik)
pracownicy

## Dygresja o mutowalności

Rebus :)

Jaka będzie zawartość listy `koszyk_a`? Jaka będzie zawartość listy `koszyk_b`?

In [11]:
koszyk_a = []
koszyk_b = []

koszyk_a = koszyk_b

koszyk_a.extend(["Bułka", "Masło", "Ser"])
koszyk_b.extend(["Piwo", "Zupka chińska"])

In [12]:
# @title Spoiler
print(koszyk_a)
print(koszyk_b)

['Bułka', 'Masło', 'Ser', 'Piwo', 'Zupka chińska']
['Bułka', 'Masło', 'Ser', 'Piwo', 'Zupka chińska']

Chcemy to naprawić!

Rebus 2 :)

In [13]:
from copy import copy

koszyk_a = []
koszyk_b = []

koszyk_a = copy(koszyk_b)

koszyk_a.extend(["Bułka", "Masło", "Ser"])
koszyk_b.extend(["Piwo", "Zupka chińska"])

In [14]:
# @title Spoiler

print(koszyk_a)
print(koszyk_b)

['Bułka', 'Masło', 'Ser']
['Piwo', 'Zupka chińska']

Rebus 3

Mamy koszyk produktów:

In [19]:
koszyk_a = [
    {"nazwa": "Bułka", "cena": 1.69},
    {"nazwa": "Zupka chińska", "cena": 3.99},
]

koszyk_b = copy(koszyk_a)

# Aktualizujemy cenę bułki:
koszyk_a[0]["cena"] = 2.99

Co zawiera `koszyk_b[0]["cena"]`?

In [20]:
# @title Spoiler

koszyk_b[0]["cena"]

2.99

Jak sobie z tym poradzić?

In [22]:
from copy import deepcopy

koszyk_a = [
    {"nazwa": "Bułka", "cena": 1.69},
    {"nazwa": "Zupka chińska", "cena": 3.99},
]

koszyk_b = deepcopy(koszyk_a)

# Aktualizujemy cenę bułki:
koszyk_a[0]["cena"] = 0.99

In [23]:
koszyk_b[0]["cena"]

1.69

## Dobre praktyki dot. wartości domyślnych dla obiektów mutowalnych

In [37]:
pracownicy = []

In [38]:
# UWAGA: antyprzykład!
def dodaj_pracownika(nowy_pracownik, pracownicy=[]):
  pracownicy.append(nowy_pracownik)
  return pracownicy

In [39]:
dodaj_pracownika(("Jan", "Kowalski", "Inżynier Danych"))

[('Jan', 'Kowalski', 'Inżynier Danych')]

In [40]:
dodaj_pracownika(("Janina", "Kowalska", "Inżynier Danych"))

[('Jan', 'Kowalski', 'Inżynier Danych'),
 ('Janina', 'Kowalska', 'Inżynier Danych')]

In [41]:
dodaj_pracownika(("Jan", "Nowak", "Analityk Danych"), [
    ("Paweł", "Nowak", "Inżynier Danych"),
    ("Paulina", "Nowak", "Inżynier Danych"),
])

[('Paweł', 'Nowak', 'Inżynier Danych'),
 ('Paulina', 'Nowak', 'Inżynier Danych'),
 ('Jan', 'Nowak', 'Analityk Danych')]

In [42]:
dodaj_pracownika(("Zofia", "Mickiewicz", "Manager"))

[('Jan', 'Kowalski', 'Inżynier Danych'),
 ('Janina', 'Kowalska', 'Inżynier Danych'),
 ('Zofia', 'Mickiewicz', 'Manager')]