<a href="https://colab.research.google.com/github/chrispi21/python-dataeng/blob/main/02_skladanie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operacje składania służą do wygodnego tworzenia nowych list, słowników i zbiorów na podstawie już istniejących. Umożliwiają modyfikację istniejących elementów kolekcji oraz ich filtrowanie.

# Składanie list

Prześledźmy operację składania list na przykładzie. Pomnożymy kolejne elementy listy. Zróbmy to za pomocą znanego sposobu z pętlą `for`:

In [6]:
lista = [0, 5, 2, 10, -1, 3]

In [9]:
nowa_lista = []
for elem in lista:
  nowa_lista.append(2 * elem)

In [10]:
nowa_lista

[0, 10, 4, 20, -2, 6]

Python umożliwia wykonanie takiej samej transformacji w bardziej zwięzły sposób:

In [11]:
[2 * elem for elem in lista]

[0, 10, 4, 20, -2, 6]

Gdybyśmy chcieli przy okazji odfiltrować elementy większe od 0:

In [12]:
nowa_lista = []
for elem in lista:
  if elem > 0:
    nowa_lista.append(2 * elem)

nowa_lista

[10, 4, 20, 6]

Bardziej zwięźle możemy zrobić to samo za pomocą operacji składania:

In [13]:
[2 * elem for elem in lista if elem > 0]

[10, 4, 20, 6]

W liście mogą znajdować się zagnieżdżone słowniki. Przykładowo:

In [22]:
stany_magazynowe = [
    {"nazwa": "Samsung", "cena": 700.0, "ilosc": 5, "waluta": "EUR"},
    {"nazwa": "IPhone", "cena": 1000.0, "ilosc": 3, "waluta": "EUR"},
]

Mając dany kurs walutowy EUR/PLN możemy w prosty sposób przeliczyć cenę na PLN:

In [23]:
kurs = 4.21

TODO: dict unpacking, list unpacking

In [24]:
stany_magazynowe_pln = [
    {**stan, **{"cena": stan["cena"] * kurs, "waluta": "PLN"}} for stan in stany_magazynowe
]
stany_magazynowe_pln

[{'nazwa': 'Samsung', 'cena': 2947.0, 'ilosc': 5, 'waluta': 'PLN'},
 {'nazwa': 'IPhone', 'cena': 4210.0, 'ilosc': 3, 'waluta': 'PLN'}]

Ćwiczenie

Zmienna transakcje

In [ ]:
# @title Rozwiązanie

In [ ]:
# @title Podpowiedź