<a href="https://colab.research.google.com/github/chrispi21/python-dataeng/blob/main/03_skladanie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operacje składania służą do wygodnego tworzenia nowych list, słowników i zbiorów na podstawie już istniejących. Umożliwiają modyfikację istniejących elementów kolekcji oraz ich filtrowanie.

# Składanie list

Prześledźmy operację składania list na przykładzie. Pomnożymy kolejne elementy listy. Zróbmy to za pomocą znanego sposobu z pętlą `for`:

In [ ]:
lista = [0, 5, 2, 10, -1, 3]

In [ ]:
nowa_lista = []
for elem in lista:
  nowa_lista.append(2 * elem)

In [ ]:
nowa_lista

[0, 10, 4, 20, -2, 6]

Python umożliwia wykonanie takiej samej transformacji w bardziej zwięzły sposób:

In [ ]:
[2 * elem for elem in lista]

[0, 10, 4, 20, -2, 6]

Gdybyśmy chcieli przy okazji odfiltrować elementy większe od 0:

In [ ]:
nowa_lista = []
for elem in lista:
  if elem > 0:
    nowa_lista.append(2 * elem)

nowa_lista

[10, 4, 20, 6]

Bardziej zwięźle możemy zrobić to samo za pomocą operacji składania:

In [ ]:
[2 * elem for elem in lista if elem > 0]

[10, 4, 20, 6]

Przykład

Przeliczanie cen z jednej waluty na inną.

W liście mogą znajdować się zagnieżdżone słowniki. Przykładowo:

In [ ]:
stany_magazynowe = [
    {"nazwa": "Samsung", "cena": 700.0, "ilosc": 5, "waluta": "EUR"},
    {"nazwa": "IPhone", "cena": 1000.0, "ilosc": 3, "waluta": "EUR"},
]

Mamy dany kurs EUR/PLN:

In [ ]:
kurs = 4.21

Na zajęciach o funkcjach pokazywaliśmy jak rozpakować słownik w celu przekazania argumentów w celu utworzenia nowego słownika. Korzystając z operacji składania list możemy w zwięzły sposób przeliczyć ceny po kursie EUR/PLN:

In [ ]:
stany_magazynowe_pln = [
    {**stan, **{"cena": stan["cena"] * kurs, "waluta": "PLN"}} for stan in stany_magazynowe
]
stany_magazynowe_pln

[{'nazwa': 'Samsung', 'cena': 2947.0, 'ilosc': 5, 'waluta': 'PLN'},
 {'nazwa': 'IPhone', 'cena': 4210.0, 'ilosc': 3, 'waluta': 'PLN'}]

Ćwiczenie

Jak zmieniłby się łączny przychód dla produktu `TV`, jeśli cena zwiększyłaby się o 10%. Oto lista transakcji:

In [5]:
transakcje = [
    {"id": 1, "produkt": "TV", "ilosc": 2, "cena": 2000.0},
    {"id": 2, "produkt": "TV", "ilosc": 1, "cena": 4000.0},
    {"id": 3, "produkt": "PC", "ilosc": 3, "cena": 2500.0},
]

In [ ]:
# @title Rozwiązanie

In [11]:
# @title Podpowiedź

wartosc_transakcji_tv = [t["cena"] * t["ilosc"] for t in transakcje if t["produkt"] == "TV"]
przychod_tv = sum(wartosc_transakcji_tv)
zmiana = 0.1 * przychod_tv
zmiana

800.0

# Składanie słowników

Posłużymy się przykładem słownika, który zawiera informacje o temperaturach w różnych miastach w Polsce:

In [31]:
temperatury = {
    "Poznań": 10,
    "Warszawa": 5,
    "Kraków": 8,
    "Wrocław": 12,
    "Gdańsk": 7,
}

Przypomnijmy sobie działanie poniższych funkcji:

In [32]:
temperatury.items()

dict_items([('Poznań', 10), ('Warszawa', 5), ('Kraków', 8), ('Wrocław', 12), ('Gdańsk', 7)])

In [33]:
temperatury.keys()

dict_keys(['Poznań', 'Warszawa', 'Kraków', 'Wrocław', 'Gdańsk'])

In [34]:
temperatury.values()

dict_values([10, 5, 8, 12, 7])

Chcemy przekształcić `temperatury`, tak aby zawierał informacje o miastach, w których temperatura jest większa niż 7 stopni. Za pomocą pętli `for` zrobilibyśmy to w następujący sposób:

In [36]:
wynik = {}
for miasto, temp_ in temperatury.items():
  if temp_ > 7:
    wynik[miasto] = temp_

wynik

{'Poznań': 10, 'Kraków': 8, 'Wrocław': 12}

Analogiczny kod dla operacji składania znajduje się poniżej:

In [37]:
{
    miasto: temp_
    for miasto, temp_ in temperatury.items()
    if temp_ > 7
}

{'Poznań': 10, 'Kraków': 8, 'Wrocław': 12}

W przypadku, gdybyśmy jeszcze chcieli przekształcić temperaturę ze stopni Celsjusza na Fahrenheita za pomocą ponższej funkcji:

In [38]:
def celsius2fahrenheit(c):
  return (c * 9/5) + 32

Jedyną zmiana będzie wywołanie funkcji `celsius2fahrenheit`, na wartości temperatury:

In [39]:
{
    miasto: celsius2fahrenheit(temp_)
    for miasto, temp_ in temperatury.items()
    if temp_ > 7
}

{'Poznań': 50.0, 'Kraków': 46.4, 'Wrocław': 53.6}

UWAGA:

Nic nie stoi na przeszkodzie, aby na bazie par klucz-wartość ze słownika tworzyć listy:

In [40]:
temperatury_lista = [(miasto, celsius2fahrenheit(temp_)) for miasto, temp_ in temperatury.items() if temp_ > 7]
temperatury_lista

[('Poznań', 50.0), ('Kraków', 46.4), ('Wrocław', 53.6)]

I na odwrót:

In [41]:
{
    miasto: temp_
    for miasto, temp_ in temperatury_lista
}

{'Poznań': 50.0, 'Kraków': 46.4, 'Wrocław': 53.6}

Chociaż tak będzie prościej:

In [49]:
dict(temperatury_lista)

{'Poznań': 50.0, 'Kraków': 46.4, 'Wrocław': 53.6}

Ćwiczenie

Na podstawie poniższych danych utwórz słownik, którego kluczem będzie imię a wartością pensja. Interesują nas osoby z pensją poniżej 10000.

In [51]:
dane = [
    {"id": 1, "imie": "Alicja", "pensja": 7000},
    {"id": 2, "imie": "Robert", "pensja": 5000},
    {"id": 3, "imie": "Jerzy", "pensja": 12000}
]

In [ ]:
# @title Rozwiązanie

In [53]:
# @title Podpowiedź
{
    rekord["imie"]: rekord["pensja"]
    for rekord in dane
    if rekord["pensja"] < 10000
}

{'Alicja': 7000, 'Robert': 5000}

# Składanie zbiorów

Składanie zbiorów wygląda bardzo podobnie do składania słowników. Zamiast pary klucz-wartość zwracamy tylko wartość. Posłużmy się przykładem podobnym do ostatniego. Dodamy rekord z kolejną osobą o imieniu Alicja:

In [55]:
dane = [
    {"id": 1, "imie": "Alicja", "pensja": 7000},
    {"id": 2, "imie": "Robert", "pensja": 5000},
    {"id": 3, "imie": "Jerzy", "pensja": 12000},
    {"id": 4, "imie": "Alicja", "pensja": 8000},
]

Naszym zadaniem będzie znalezienie osób, których pensja jest poniżej 10000:

In [58]:
{
    rekord["imie"]
    for rekord in dane
    if rekord["pensja"] < 10000
}

{'Alicja', 'Robert'}

UWAGA:

Nawiązując do poprzedniego ćwiczenia zwróćmy uwagę, że o wartości pensji decyduje ostatni rekord z listy pod tym samym kluczem:

In [59]:
{
    rekord["imie"]: rekord["pensja"]
    for rekord in dane
    if rekord["pensja"] < 10000
}

{'Alicja': 8000, 'Robert': 5000}

# Zagnieżdżone operacja składania

# Składanie generatorów